CppEducation/Alghoritms/Debug/vc141.idb
CppEducation/Alghoritms/Debug/Alghoritms.tlog/link.write.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/link.read.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/link.command.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/CL.write.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/CL.read.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/CL.command.1.tlog
CppEducation/Alghoritms/Debug/Alghoritms.tlog/Alghoritms.lastbuildstate
CppEducation/.vs/
CppEducation/packages/
CppEducation/Debug/
CppEducation/Alghoritms-Tests/Debug/
CppEducation/Alghoritms/Debug/
CppEducation/.idea/CppEducation.iml
CppEducation/.idea/
CppEducation/Alghoritms/.idea/
CppEducation/Alghoritms/cmake-build-debug/Alghoritms.cbp
CppEducation/Alghoritms/cmake-build-debug/
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/CppEducation.iml
./.idea/.name
cmake-build-debug/
.vs/
